page-login {
	ion-content {
		background-color: color($colors, light) !important;
	}
	img {
		margin-top: 5vh;
	}
	h1 {
		font-weight: bold;
		padding-top: 5vh;
	}
	.form {
		padding: 5vh 6vw 0 6vw;
		
		.button .button-inner {
			font-weight: bold;
		}

		.btn-google {
			margin-top: 2vh;
			color: white;
		}

		.btn-signup {
			margin-top: 2vh;
		}
	}
}
