page-storico {
    .filter-space {
        height: 56px !important;
    }

    .list:first-of-type .list-header {
        border-top: 0;
        margin-bottom: 0;
    }

    .bollette {
        .importo {
            float: right;
            font-size: 5vw;
        }
        .dataPagamento {
            float: right;
            color: color($colors, primary);
            // font-size: 5vw;
            // font-weight: bold;
        }
        .totale-text {
            font-weight: bold;
            font-size: 5vw;
        }
        .totale {
            float: right;
            font-size: 5vw;
            font-weight: bold;
        }
    }

    .segment .segment-activated {
        border-color: color($colors, light) !important;
    }
}
