<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ parseISOString(today) }}</ion-title>
		<ion-buttons end>
			<!-- <button ion-button icon-only (click)="showFilter()">
				<ion-icon name="funnel"></ion-icon>
			</button> -->
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list class="daPagare" *ngIf="daPagare.length != 0">
		<ion-list-header>DA PAGARE</ion-list-header>
		<ion-item-sliding *ngFor="let bolletta of daPagare">
			<!-- <ion-item (click)="showBolletta(bolletta, bolletta.key)" detail-push> -->
			<ion-item (click)="showBolletta(bolletta)" detail-push>
				<ion-icon *ngIf="!bolletta.pagata" name="{{ bolletta.icona }}" item-start large></ion-icon>
				<ion-icon *ngIf="bolletta.pagata" name="{{ bolletta.icona }}" color="primary" item-start large></ion-icon>
				<div *ngIf="!bolletta.pagata" class="importo">€ {{ bolletta.importo }}</div>
				<ion-icon *ngIf="bolletta.pagata" name="checkmark-circle-outline" item-end color="primary"></ion-icon>
				<h1>{{ bolletta.utenza }}</h1>
				<p ion-text>{{ parseISOString(bolletta.scadenza) }}</p>
			</ion-item>
			<ion-item-options>
				<button ion-button icon-only color="danger" (click)="deleteBolletta(bolletta.key)">
					<ion-icon name="trash"></ion-icon>
				</button>
				<button ion-button icon-only color="primary" (click)="payBolletta(bolletta.key)">
					<ion-icon name="checkmark-circle-outline"></ion-icon>
				</button>
			</ion-item-options>
		</ion-item-sliding>
		<ion-item>
			<div class="totale">€ {{ totale.toFixed(2) }}</div>
			<h1 class="totale-text" color="light">TOTALE</h1>
		</ion-item>
	</ion-list>
	<ion-list class="pagate" *ngIf="pagate.length != 0">
		<ion-list-header>PAGATE</ion-list-header>
		<ion-item-sliding *ngFor="let bolletta of pagate">
			<ion-item (click)="showBolletta(bolletta)">
				<ion-icon *ngIf="!bolletta.pagata" name="{{ bolletta.icona }}" item-start large></ion-icon>
				<ion-icon *ngIf="bolletta.pagata" name="{{ bolletta.icona }}" color="primary" item-start large></ion-icon>
				<div *ngIf="!bolletta.pagata" class="importo">€ {{ bolletta.importo }}</div>
				<ion-icon *ngIf="bolletta.pagata" name="checkmark-circle-outline" item-end color="primary"></ion-icon>
				<h1>{{ bolletta.utenza }}</h1>
				<p>{{ parseISOString(bolletta.scadenza) }}</p>
			</ion-item>
			<ion-item-options>
				<button ion-button icon-only color="danger" (click)="deleteBolletta(bolletta.key)">
					<ion-icon name="trash"></ion-icon>
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-fab right bottom (click)="nuovaBollettaModal()">
		<button ion-fab color="secondary"><ion-icon name="add" color="light"></ion-icon></button>
	</ion-fab>
</ion-content>