page-home {

    .filter-space {
        height: 56px !important;
    }

    .list:first-of-type .list-header {
        border-top: 0;
    }
    
    .importo {
        float: right;
        font-size: 6vw;
        font-weight: bold;
    }
    h1.totale-text {
        // font-weight: bold !important;
        font-size: 5vw;
    }
    .totale {
        float: right;
        font-size: 5vw;
    }
    
    ion-fab {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
