<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Bollette Manager</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<!-- <ion-list-header>Bollette</ion-list-header> -->
		<!-- <button ion-item *ngFor="let bolletta of bollette" (click)="showBolletta(bolletta)">
			{{ bolletta.utenza }} {{ bolletta.scadenza }}
		</button>  -->
		<ion-item *ngFor="let bolletta of bollette" (click)="showBolletta(bolletta)">
			<ion-icon name="{{ bolletta.icona }}" item-start></ion-icon>
			<h2>{{ bolletta.utenza }}</h2>
			<h3>€ {{ bolletta.importo }}</h3>
			<p>{{ bolletta.scadenza }}</p>
		</ion-item>
	</ion-list>
	<ion-fab right bottom (click)="nuovaBolletta()">
		<button ion-fab><ion-icon name="add"></ion-icon></button>
	</ion-fab>
</ion-content>
