<ion-header>
	<ion-navbar color="primary">
		<ion-title>Bolletta</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<!-- <ion-icon name="{{ bolletta.icona }}" item-start large></ion-icon> -->
	<ion-card>
		<ion-card-header>
			<h1><ion-icon name="{{ bolletta.icona }}"></ion-icon> {{ bolletta.utenza.toUpperCase() }}</h1>
		</ion-card-header>
		<ion-list>
			<ion-item class="importo">
				<ion-icon name="logo-euro" item-start></ion-icon>
				<h1>{{ bolletta.importo }}</h1>
			</ion-item>
			<ion-item class="scadenza">
				<ion-icon name="calendar" item-start></ion-icon>
				<h2>{{ parseISOString(bolletta.scadenza) }}</h2>
			</ion-item>
			<ion-item class="dataPagamento" *ngIf="bolletta.pagata" color="lightPrimary">
				<ion-icon name="checkmark" item-start></ion-icon>
				<h2 class="pay-date">{{ parseISOString(bolletta.dataPagamento) }}</h2>
			</ion-item>
			<ion-item *ngIf="bolletta.pagata" color="primary">
				<ion-icon name="checkmark-circle-outline" color="light" item-start></ion-icon>
				<h1 class="pay-text" color="light">PAGATA</h1>
			</ion-item>
		</ion-list>
	</ion-card>
	<ion-fab center bottom *ngIf="!bolletta.pagata" (click)="payBolletta()">
		<button ion-fab color="primary"><ion-icon name="checkmark"></ion-icon></button>
	</ion-fab>
	<ion-fab center bottom *ngIf="bolletta.pagata" (click)="showConfirm()">
		<button ion-fab color="danger"><ion-icon name="close"></ion-icon></button>
	</ion-fab>
</ion-content>
