page-bolletta {
    .utenza {
        font-size: 3vw !important;
        text-align: center;
    }

    .pay-date {
        text-align: right;
    }

    .pay-text {
        color: white;
        font-weight: bold !important;
        text-align: right;
    }
}
