<ion-header>
	<ion-navbar color="primary">
		<ion-title>Bolletta</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="showConfirm('delete')">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
			<h1><ion-icon name="{{ bolletta.icona }}"></ion-icon> {{ bolletta.utenza.toUpperCase() }}</h1>
		</ion-card-header>
		<ion-list>
			<ion-item class="importo">
				<ion-icon name="logo-euro" item-start></ion-icon>
				<h1>{{ bolletta.importo }}</h1>
			</ion-item>
			<ion-item class="periodo">
				<ion-icon name="calendar" item-start></ion-icon>
				<h2>{{ parseISOString(bolletta.inizioFatturazione) }} - {{ parseISOString(bolletta.fineFatturazione) }}</h2>
			</ion-item>
			<ion-item class="scadenza">
				<ion-icon name="alert" item-start></ion-icon>
				<h2>{{ parseISOString(bolletta.scadenza) }}</h2>
			</ion-item>
			<ion-item class="dataPagamento" *ngIf="bolletta.pagata" color="primaryLight">
				<ion-icon name="checkmark" item-start></ion-icon>
				<h2 class="pay-date">{{ parseISOString(bolletta.dataPagamento) }}</h2>
			</ion-item>
			<ion-item *ngIf="bolletta.pagata" color="primary">
				<ion-icon name="checkmark-circle-outline" item-start></ion-icon>
				<h1 class="pay-text">PAGATA</h1>
			</ion-item>
		</ion-list>
		<button ion-button icon-left *ngIf="!bolletta.pagata" block clear large (click)="showConfirm('pay')" color="primary">Pagamento</button>
	</ion-card>

	<!-- <ion-fab center bottom *ngIf="!bolletta.pagata" (click)="showConfirm('pay')">
		<button ion-fab color="primary"><ion-icon name="checkmark"></ion-icon></button>
	</ion-fab> -->
	<ion-fab center bottom (click)="shareViaWhatsapp()">
		<button ion-fab color="secondary"><ion-icon name="share" color="light"></ion-icon></button>
	</ion-fab>
</ion-content>
