// http://ionicframework.com/docs/theming/
body, span, button, h2, ion-item, ion-title, ion-label, ion-refresher, div.alert-message {
    font-family: ComingSoon;
}

.toolbar-title {
    font-size: 5vw;
    font-weight: bold;
}
.subtitle .toolbar-title {
	font-size: 4vw;
}

.menu-inner {
    font-family: ComingSoon;

    .list.pages {
        margin-top: 4vh;
        
        .item {
			background-color: color($colors, primary);
            margin: 0 0 1vh 4vw;
            padding: 1vh 0 1vh 10vw;
            border-radius: 20px;
            // border: 3px solid;
			// border-color: color($colors, dark);

            .label {
                font-weight: bold;
                font-size: 5vw;
                color: color($colors, light);
            }
        }
	}
	.list.exit {
        margin-top: 25vh;
        
        .item {
			background-color: color($colors, primary);
            margin: 0 0 1vh 35vw;
            padding: 0 0 0 8vw;
            border-radius: 20px;
            // border: 3px solid;
            // border-color: color($colors, primary);

            .label {
                font-weight: bold;
                font-size: 80%;
                color: color($colors, light);
            }
        }
    }
}

.ion-page {
    font-family: ComingSoon;

    .scroll-content {
        border-top: 0 !important;
        // margin-top: 66px !important;
	}
	
	.list-header {
		border-top: 0;
		margin-bottom: 0;
    }

    .item h1, .item h2 {
        margin-top: 0 !important;
    }
    
    .bar-button.right {
        margin-right: 15px;
    }
}

@font-face {
    font-family: ComingSoon;
    src: url("../assets/fonts/coming-soon.woff2") format('woff2');
}