// http://ionicframework.com/docs/theming/
body, span, button, ion-item, ion-title, ion-label, ion-refresher, div.alert-message {
    font-family: ComingSoon;
}

.toolbar-title {
    font-size: 5vw;
    font-weight: bold;
}

.menu-inner {
    // .scroll-content, .list, .item {
    //     background-color: color($colors, lightPrimary);
    // }
    font-family: ComingSoon;

    .list {
        margin-top: 2vh;
        
        .item {
            background-color: rgba(76, 175, 80, 0.8);
            margin: 0 0 1vh 4vw;
            padding: 1vh 0 1vh 10vw;
            border-radius: 20px;
            border: 3px solid;
            border-color: rgba(76, 175, 80, 1);

            .label {
                font-weight: bold;
                font-size: 5vw;
                color: color($colors, light);
            }
        }
    }
}

.ion-page {
    font-family: ComingSoon;

    .scroll-content {
        border-top: 0 !important;
        // margin-top: 66px !important;
    }

    .item h1, .item h2 {
        margin-top: 0 !important;
    }
    
    .bar-button {
        margin-right: 15px;
    }
}

@font-face {
    font-family: ComingSoon;
    src: url("../assets/fonts/coming-soon.woff2") format('woff2');
}